* {
  margin: 0;
}

html, body {
  height: 99%;
}


body
{
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #ddd;
}


#container
{
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -2em;
	margin: 0;
	background-color: #FFF;
	border: 1px solid #333;
	background-image: url(background-eee.png);
	background-repeat: repeat-y;
}



#container-one
{
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -2em;
	margin: 0;
	background-color: #FFF;
	border: 1px solid #333;
}


#banner
{
	background-color: #fff;
	border-bottom: 1px solid #333;
}

#banner h1
{
}

#nav
{
	float: left;
	width: 160px;
}


#nav h3 { 
  font-size: 12pt;
  font-weight: 700;
  margin-top: 1em;
  margin-left: 0.5em;
}

#nav ul 
{ 
  padding: 0;
  margin: 0;
  margin-left: 1.5em;
  list-style-type: none;
}  

#nav ul li { 
  margin: 0;
  padding: 0;
}

#nav p
{ 
	margin-top: 0; 
}

#newresult
{
	padding-top: 1em;
	margin: 0 2em 0 200px;
}

#newref
{
	padding-top: 1em;
	margin: 0 2em 0 200px;
}

#newsub
{
	padding-top: 1em;
	margin: 0 2em 0 200px;
}

div.content
{
        padding-top: 1em;
        margin: 0 2em 0 200px;
}
div.hidden
{
	display: none;
}

#content-one
{
	padding-top: 1em;
        padding-left: 1in;
        padding-right: 1in;
	margin: 0 2em 0 0;
}


#footer
{
	clear: both;
        border-top: 2px solid black;
        background-color: #9CB770;
	padding: 1em;
	text-align: center;
        height: 2em;
}


#push {
height: 1em;
    clear: both;
    }


html { 
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
}

#banner h1 { 
  margin: 0;
  font-size: 30pt;
  line-height: 48pt;
  font-weight: 700;
  text-align: center;
}

#layoutdims {
  clear:both;
   background-color: #9CB770; 
  border-top:3px solid #000;
  text-align:right;
  margin:0;
  padding:6px 15px!important;
  font-size: 10pt;
}

#layoutdims a {
 color: #fff;
 text-decoration: none;
}

#layoutdims a:hover {
 color: #ddd;
 text-decoration: none;
}


#footer a { 
  color: #fff;
}

#footer a:hover { 
  color: #ddd;
}


a.selectsubsystem { 
  font-size: 10pt;
}


#nav label { 
  padding-left: 0.5em;
}


#nav ul.menu li {
  margin-top: 0.5em;
}

#nav ul li a { 
  text-decoration: none;
}

#nav ul li a { 
 color: #00A;
}

#nav ul.menu li.active a{ 
  color: #00A;
}

#nav ul.menu li.active { 
  font-weight: 700;
}

#nav ul.menu li.active a:hover { 
  margin-left: 0 !important;
}


#nav ul.menu li a:hover { 
  font-weight: 700;
}

#graph { 
  border: 1px solid green;
  min-height: 4in;
}

#info { 
  height: 1in;
  border: 1px solid black;
}


div.announce { 
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-top: 1px solid black;
  padding-right: 1em;
  max-width: 6in;
}

.announce span.header { 
 display: block;
  font-style: italic;
  color: #333;
  margin-bottom: 0.5em;
}

.announce span.abstract { 
  display: block;
  font-size: 10pt;
  margin-left: 1em;
  margin-top: 0.5em;
}

div.announce h3 { 
  font-size: 14pt;
  font-weight: 700;
  margin: 0;
  padding: 0;

}

.announce p { 
  margin-left: 1em;
  margin-top: 1em;
}

#bib_target { 
  margin-top: 1em;
  list-style-type: none;
  margin: 1pt solid #aaa;
  padding-left: 0.5em;
}

.bib_link { 
  display: inline-block;
  width: 1in;
  text-align: right;
}

#bib_target li { 
  margin-bottom: 0.25em;
}

#bib_count { 
  margin-left: 1em;
  font-size: 90%;
}

.tex_render { border: 1px solid black; width: 4in; height: 1in;}

#MathInput_ref { 
  width: 4in;
  height: 1in;
}


#target ul { list-style-type: none;  margin: 0; padding; 0; }
#target ul li { border: 1px solid black; display: inline-block; margin: 2px; padding: 2px; margin-right: 1em; }
